<div class="container">
<h1>Heroes <small>Marvel & DC</small></h1>
<hr>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-4 row-cols-lg-4 g-4">
    <div class="col">
      <div class="card border border-info border-5 border-opacity-25">
        <img src="assets/img/spiderman.png" class="card-img-top" alt="Spiderman">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="d-grid gap-2">
          <button type="button" class="btn btn-outline-dark">See more...</button>
        </div>
      </div>
      </div>
  
    <div class="col">
      <div class="card border border-info border-5 border-opacity-25">
        <img src="assets/img/batman.png" class="card-img-top" alt="Batman">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      </div>
  
    <div class="col">
      <div class="card border border-info border-5 border-opacity-25">
        <img src="assets/img/Wolverine.png" class="card-img-top" alt="Wolverine">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      </div>
  
    <div class="col">
      <div class="card border border-info border-5 border-opacity-25">
        <img src="assets/img/aquaman.png" class="card-img-top" alt="Aquaman">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
  </div>
  
    <div class="col">
      <div class="card border border-info border-5 border-opacity-25">
        <img src="assets/img/hulk.png" class="card-img-top" alt="Hulk">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
  </div>
  
    <div class="col">
      <div class="card border border-info border-5 border-opacity-25">
        <img src="assets/img/linternaverde.png" class="card-img-top" alt="Green-Lantern">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
  </div>
  
    <div class="col">
      <div class="card border border-info border-5 border-opacity-25">
        <img src="assets/img/derevil.png" class="card-img-top" alt="Derevil">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
  </div>
  
    <div class="col">
      <div class="card border border-info border-5 border-opacity-25">
        <img src="assets/img/thor.png" class="card-img-top" alt="Thor">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
  </div>
  </div>
  </div>

